<template>
<div class="container">
  <div class="container">  
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-info float-left"
        data-toggle="modal"
        data-target="#exampleModal"
      ><i class="fa fa-plus" aria-hidden="true">&nbsp;</i>ADD NEW TODO</button>
      <br>
      
      <!-- Modal -->
          <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        role="dialog"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 v-if="savebtn" class="modal-title" id="exampleModalLabel">ADD</h5>
              <h5 v-if="updatebtn" class="modal-title" id="exampleModalLabel">UPDATE</h5>
              
            </div>

            <div class="modal-body">
              <form  novalidate="true">    
                <input type="hidden" v-model="AddTodo.id" class="form-control" required>

                <div class="form-group">
                  <label>Title</label>
                  <input 
                  v-validate="'required|alpha|'" 
                  type="text" 
                  name="title"
                  v-model="AddTodo.title" 
                  class="form-control"
                   >
                   <span class="text text-danger" >{{ errors.first('title') }}</span>
                </div>

                <div class="form-group">
                  <label>Description</label>              
                   <textarea 
                     v-validate="'required'"
                    name="description" v-model="AddTodo.desc" class="form-control"></textarea>
                   
                   <span class="text text-danger" >{{ errors.first('description') }}</span>
                    </div>

              </form>
            </div>
            <div class="modal-footer">
              <button
                v-if="savebtn"
                @click="save()"
                class="btn btn-primary"
                :data-dismiss="closebtn"
              >Save</button>
              <button
                v-if="updatebtn"
                @click.prevent="update(AddTodo.id)"
                class="btn btn-warning"
                :data-dismiss="closebtn"
              >Update</button>
              <button @click.prevent="clear" class="btn btn-info">Clear</button>
            </div>
          </div>
        </div>
      </div>

 </div><!-- MODEL END-->
 <br>
 <hr>
 <div class="container"  v-for="(todo, index) in todoItems" :key="index">
  
<div class="col-md-12 col-sm-12 col-xs-12 col-xl-12 col-lg-12" style="margin :0 !important;padding:0 !important">
  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading" style="background:#fff">
        <h4 class="panel-title" data-toggle="collapse" :href="'#collapse1'+index">

      <span style="float:left !important"> <i class="fa fa-th-list fa-1" aria-hidden="true">&nbsp;</i> {{todo.title}}</span>      
        <vue-moments-ago prefix="posted" suffix="ago" :date="todo.created_at"></vue-moments-ago>
       
           <button
              
                @click="edit(todo)"
                class="btn btn-warning btn-sm float-right "
                data-toggle="modal"
                data-target="#exampleModal"
                       >  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
              </button> 
&nbsp;&nbsp;
              <button @click="destroy(todo)" class="btn btn-danger btn-sm float-right mr-1"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
      </h4>
      </div>
      <div :id="'collapse1'+index" class="panel-collapse collapse">
        <ul class="list-group">
          <li  class="list-group-item"><span style="float-left">{{todo.desc}}</span></li>
        </ul>
      </div>
  </div>
</div>
</div>
    
 </div>
 </div>


</template>
<script>
import VueMomentsAgo from 'vue-moments-ago'

export default {
   components: {
    VueMomentsAgo
  },
  data() {
    return {
        
      AddTodo: {
        id: "",
        title: "",
        desc: "",
        created_at: Date()
      },
      todoItems: [
        { id: "1", title: "todoone", desc: "have to compleate the taks 1.1", created_at:"Thu Jun 20 2019 19:14:47 GMT-0700 (Pacific Daylight Time)"},
        { id: "2", title: "todotwo", desc: "have to compleate the taks 1.1" ,created_at:"Thu Jun 20 2019 19:14:47 GMT-0700 (Pacific Daylight Time)" },
        { id: "3", title: "todothree", desc: "have to compleate the taks 1.1" ,created_at:"Thu Jun 20 2019 19:14:47 GMT-0700 (Pacific Daylight Time)"}
      ],
      collapse1:'',
      id:1, 
      savebtn: true,
      updatebtn: false,
      closebtn:"notclose"
    };
  },
  methods: {
  
  save: function() {
      
      this.$validator.validateAll().then((res)=>{
         if(res){
      var pk = ++this.id;
      pk = this.AddTodo.id;
      var title = this.AddTodo.title;
      var desc = this.AddTodo.desc;
      var date =this.AddTodo.created_at
      this.todoItems.push({ id: pk, title: title, desc: desc,created_at:date});
      
             this.closebtn="modal";
      this.clear();
      this.$swal("Added", "Succesfully Inserted!!", "success");  
return;
         }
      });
    
      

    },
    clear: function() {
      this.savebtn = true;
      this.updatebtn = false;
      this.AddTodo.id = "";
      this.AddTodo.title = "";
      this.AddTodo.desc = "";
    },
    edit: function(todo) {
      this.savebtn = false;
      this.updatebtn = true;
      this.AddTodo.id = todo.id;
      this.AddTodo.title = todo.title;
      this.AddTodo.desc = todo.desc;
    },
    update: function(id) {
      this.$validator.validateAll().then((res)=>{
         if(res){
      var myid = id - 1;
      Object.assign(this.todoItems[myid], this.AddTodo);
      this.clear();
 this.closebtn="modal";
      this.$swal("Updated", "Sucessfully Updated", "warning");
      return;
         }
      });
    },
    destroy: function(todo) {
      var del = this.todoItems.indexOf(todo);
      this.$swal({
        title: "Are you sure?",
        text: "You can't revert your action",
        type: "warning",
        showCancelButton: true,
        confirmButtonText: "Yes Delete it!",
        cancelButtonText: "No, Keep it!",
        showCloseButton: true,
        showLoaderOnConfirm: true
      }).then(result => {
        if (result.value) {
          this.todoItems.splice(del, 1);
          this.$swal(
            "Deleted",
            "You successfully deleted this file",
            "success"
          );
        } else {
          this.$swal("Cancelled", "Your file is still intact", "info");
        }
      });
    }
  }
 
};
</script>
<style scoped>
  </style>
